/*header*/
#main_navbar{

	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}
#main_navbar h2{
      color: orange;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #d3d3d3;
}
.navbar-light .navbar-nav .nav-link {
    color: #d3d3d3;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: blue;
}
.navbar-toggler{
    background-color: white;
}
.nav-item{
	color: orange;
}

/*dropdown*/
.dropdown-item{
	background-color: white;
	color: black;
}
.dropdown-menu{
	background-color: black;
}



/*cotent*/
#content{
	padding-top: 30px;
	padding-bottom: 30px;
}
#sub{
    animation: subname;
    animation-duration: 2s;
}
@keyframes subname{
    0%{font-size: 0.8em;}
}


#sub-tile{
	padding-top: 15px;
	padding-bottom: 15px;
    position: relative;
    animation-name: fade-in;
    animation-duration: 2s;
}
@keyframes fade-in{
    0%{opacity: 0.1}
    100%{opacity: 1}
}

.image img{
	height: 150px;
	width: 300px;
    position: relative;
    animation-name: img;
    animation-duration: 2s;
}

@keyframes img{
    0%{left: -30px;}
    100%{left: 0px}
}

/*footer*/

footer{
	background-color: black;
}

.panel-footer .container{
	padding-top: 20px;
	padding-bottom: 20px;
    padding-left: 40px;
    color: white;
}

/*media query*/
@media (max-width: 575.98px) { 
    #navbarSupportedContent{
    	padding-top: 15px;
	    padding-left: 10px;
	    padding-right: 10px;
    }
    #navbar-list{
    	padding-left: 15px;
	    background-color: black;
    }
    .image img{
    	padding-left: 20px;
    }
    @keyframes img{
        0%{bottom: -30px;}
        100%{bottom: 0px}
    }
 
    .panel-footer .container{
	    padding-left: 0px;
	    text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {  
    #navbarSupportedContent{
    	padding-top: 15px;
	    padding-left: 20px;
	    padding-right: 20px;
    }
    #navbar-list{
    	padding-left: 15px;
	    background-color: black;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    #navbar-list{
	    background-color: black;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar-light .navbar-nav .nav-link:hover {
	    background-color: white;
    }
    #navbarSupportedContent {
	    padding-left: 250px;
	    padding-right: 10px;
    }
    .dropdown-item{
	    background-color: gray;
	    color: black;
    } 
    .dropdown-menu{
	    background-color: gray;
    }
}

@media (min-width: 1200px) { 
    #navbarSupportedContent {
	    padding-left: 470px;
	    padding-right: 10px;
    }
    .navbar-light .navbar-nav .nav-link:hover {
	    background-color: white;
    }
    .image img{
	    height: 155px;
	    width: 320px;
    }
    .dropdown-item{
	    background-color: gray;
	    color: black;
    } 
    .dropdown-menu{
	    background-color: gray;
    }
}