

#main_navbar{

	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*orange colour*/

#main_navbar h2{
      color: orange;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: orange;
}
.navbar-light .navbar-nav .nav-link {
    color: orange;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: blue;
	background-color: white;
}
.dropdown-item{
	color: powderblue;
}

/*dropdown*/

.dropdown-menu{
	background-color: black;
}

.navbar-toggler{
    background-color: white;
}
.nav-item{
	color: orange;
}
footer{
	background-color: gray;
}

.panel-footer .container{
	padding-top: 20px;
}
.image img{
	height: 150px;
}
/*media quer*/
@media (max-width: 575.98px) { 
    
    #navbarSupportedContent{
    	padding-top: 15px;
	    padding-left: 10px;
	    padding-right: 10px;

    }
    #navbar-list{
    	padding-left: 15px;
	background-color: gray;
	opacity: 100%;
    }
    .image img{
    	padding-left: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    
    #navbarSupportedContent{
    	padding-top: 15px;
	    padding-left: 20px;
	    padding-right: 20px;

    }
    #navbar-list{
    	padding-left: 15px;
	    background-color: gray;
	    opacity: 100%; 
    }
    .row featurette{
    	float: left;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    #navbar-list{
	    background-color: gray;
	    opacity: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { 
    #navbarSupportedContent{
	    padding-left: 270px;
	    padding-right: 10px;
    }
}